:root {
    --cubeclr:green;
}

* {

    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.supercontainer {
    transform: rotatex(-30deg);
    transform-style: preserve-3d;
}


.container {
    height: 80vmin;
    width: 80vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 3s linear infinite;


}

.cube {
    position: absolute;
    top: calc((100% - 300px)/2);
    left: calc((100% - 300px)/2);
    height:300px;
   width:300px;
}

.bgclr {
    background: linear-gradient(to top, rgb(0, 255, 0), rgb(70, 64, 64))
}

.side7 {
    transform: translatez(150px);
}

.side6 {
    background-color: rgb(33, 32, 32);
    transform: rotatex(90deg) translatez(150px);
}

.side5 {
    transform: rotatex(90deg) translatez(-150px);
}

.side4 {
    transform: rotatey(90deg) translatez(150px);
}

.side2 {
    transform: translatez(-150px);
}

.side3 {
    transform: rotatey(90deg) translatez(-150px);
}

.side1 {
    background-color: rgb(0, 255, 26);
    transform: rotatex(90deg) translatez(-210px);
    filter: blur(20px);
    box-shadow:
        0px 0px 120px rgba(0, 255, 0,0.2),
        0px 0px 20px  rgba(0, 255, 0,0.4),
        0px 0px 300px rgba(0, 255, 0,0.6),
        0px 0px 400px rgba(0, 255, 0,0.8),
        0px 0px 500px rgb(0, 255, 0,1)
} 


@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}
@media (max-width:700px){
    .cube {
        top: calc((100% - 100px)/2);
        left: calc((100% - 100px)/2);
        height:100px;
        width:100px;
    }
    
    .bgclr {
        background: linear-gradient(to top, rgb(0, 255, 0), rgb(70, 64, 64))
    }
    
    .side7 {
        transform: translatez(50px);
    }
    
    .side6 {
        transform: rotatex(90deg) translatez(50px);
    }
    
    .side5 {
        transform: rotatex(90deg) translatez(-50px);
    }
    
    .side4 {
        transform: rotatey(90deg) translatez(50px);
    }
    
    .side2 {
        transform: translatez(-50px);
    }
    
    .side3 {
        transform: rotatey(90deg) translatez(-50px);
    }
    
    .side1 {
        transform: rotatex(90deg) translatez(-110px);
      
    }
}